.product {
  flex: 4;
  padding: 20px;
}

.productTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.productTop {
  display: flex;
}

.productTopLeft,
.productTopRight {
  flex: 1;
}

.productTopRight {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 5px -5px 25px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 5px -5px 25px 0px rgba(0, 0, 0, 0.41);
}

.productInfoTop {
  display: flex;
  align-items: center;
}

.productImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.productName {
  font-weight: 600;
}

.productInfoBottom {
  margin-top: 10px;
}

.productInfoItem {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.productInfoValue {
  font-weight: 300;
}

.productAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: #c25b56;
  color: aliceblue;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.productButton {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 5px -5px 25px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 5px -5px 25px 0px rgba(0, 0, 0, 0.41);
}

.productForm {
  display: flex;
  justify-content: space-between;
}

.productFormLeft {
  display: flex;
  flex-direction: column;
}

.productFormLeft > label {
  margin-bottom: 10px;
  color: #c25b56;
}

.productFormLeft > input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}
